@font-face {
  font-family: 'AmazonEmber_Rg';
  src: local("Amazon Ember"), url("../font/AmazonEmber_Rg.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmazonEmber_RgIt';
  src: local("Amazon Ember Italic"), url("../font/AmazonEmber_RgIt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmazonEmber_Lt';
  src: local("Amazon Ember Light"), url("../font/AmazonEmber_Lt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmazonEmber_LtIt';
  src: local("Amazon Ember Light Italic"), url("../font/AmazonEmber_LtIt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmazonEmber_Bd';
  src: local("Amazon Ember Bold"), url("../font/AmazonEmber_Bd.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmazonEmber_BdIt';
  src: local("Amazon Ember Bold Italic"), url("../font/AmazonEmber_BdIt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AmazonEmber_He';
  src: local("Amazon Ember Heavy"), url("../font/AmazonEmber_He.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmazonEmber_HeIt';
  src: local("Amazon Ember Heavy Italic"), url("../font/AmazonEmber_HeIt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmazonEmber_Md';
  src: local("Amazon Ember Medium"), url("../font/AmazonEmber_Md.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmazonEmber_MdIt';
  src: local("Amazon Ember Medium Italic"), url("../font/AmazonEmber_MdIt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AmazonEmber_Th';
  src: local("Amazon Ember Thin"), url("../font/AmazonEmber_Th.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmazonEmber_ThIt';
  src: local("Amazon Ember Thin Italic"), url("../font/AmazonEmber_ThIt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
