.ui-multicolorslider {
    background-color: orange;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 100px;
    width: 560px;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider-horizontal {
    height: .8em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d19405;
    background: url("slider.svg") 2% 58% no-repeat;
    background-size: 14px 14px;
    color: #4c3000;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.ui-multicolorslider .ui-slider-color {
    position: absolute;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.ui-multicolorslider .ui-slider-color a,
.ui-multicolorslider .ui-slider-color span {
  left: 100% !important;
  right: 0;
}

.ui-multicolorslider .ui-slider-color:first-child {
    background: red none repeat scroll 0 0;
}

.ui-multicolorslider .ui-slider-color a,
.ui-multicolorslider .ui-slider-color span {
    border: 0 solid transparent;
    filter: none;
    height: 30px;
    padding: 2px 3px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
    margin-top: -12px;
    color:#fff;
}

.ui-multicolorslider .ui-slider-color:first-child a {
   /* background: red; */
}

.ui-multicolorslider .ui-slider-color:nth-child(2) {
    background:orange  none repeat scroll 0 0;
}

.ui-multicolorslider .ui-slider-color:nth-child(2) a {
    /* background: orange none repeat scroll 0 0; */
}

.ui-multicolorslider .ui-slider-color:nth-child(3) {
    background: green;
}

.ui-multicolorslider .ui-slider-color:nth-child(3) a {
   /* background:green; */
}

.ui-multicolorslider .ui-slider-handle .slider-thumb {
   width: 28px !important;
   background-color: #F0F0F1;
   position:absolute;
   top:-25px;
   color:#333333;
   padding:2px 4px;
  /* background: #9b9b9b4d; */
   left:-8px;
}

.ui-multicolorslider .slider-thumb-bar {
    position: absolute;
    width:1.3px;
    background-color: grey !important;
    height:25px;
    top:-16px;
    right:1px;
}